<div id="title">
	<h1>{{title}}</h1>
	<h2>{{subtitle}}</h2>
	<p>{{web}}</p>
</div>

<article class="about">
	<h2>Sobre mí</h2>
	<p>
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Nemo aliquid esse, obcaecati nostrum magnam numquam voluptas saepe doloribus, accusantium sed perferendis, voluptatibus qui ipsum, nobis facere impedit voluptate nisi placeat nostrum magnam numquam voluptas saepe doloribus, accusantium sed perferendis, voluptatibus qui ipsum, nobis facere impedit voluptate nisi placeat!
	</p>

	
</article>
